* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Libre Franklin';
	font-weight: 200;
}

/*******************/
/***  HOME PAGE  ***/
/*******************/

.main-body {
	display: flex;
	align-items: center;
	padding: 8px;
	
}
.main-body div {
	flex: 1 1 0;
	height: 100%
}

.left-side {
	margin: 0, auto;
}
.right-side {
	margin: 0 auto;
}

.main-body > div > img {
	max-width: 100%;
	height:auto;
}

.main-body > div > p {
	padding-left:10px;
}

/*******************/
/***  PROJECTS   ***/
/*******************/

.projects-body {
	padding: 12px;
}

.projects-body > div {
	display: block;
	width: 100%;
	height: auto;
	padding: 12px;
	border: 1px solid black;
	background-color: #c7c7bb
}

.container {
	display: flex;
}
.container > div {
	padding: 10px;
}

/*********************/
/***  PHOTOGRAPHY  ***/
/*********************/

.photo-description {
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
  margin:auto;
}

.column > img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}*/

/*******************/
/****  VIDEOS   ****/
/*******************/
.vids {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.vids > * {
	margin-right: auto;
}

.vids > * > * {
	margin-right: auto;
	padding-right: 24px;
} 
